.menu-card__container{
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  padding: 15px;
  width: 350px;
}

.menu-card__table {
  background-color: rgba(0, 0, 0, 0.589);
  font-size: 18px;
  margin: 10px;
  height: 360px;
  width: 350px;
}

.menu-card__see-detail{
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  margin-top: 22px;
  margin-bottom: -40px;
  color: #F9F9F9;
  font-size: 25px;
}

.menu-card__tr{
  flex-direction: column;
  display: flex;
}

.menu-card__td {
  color: #F9F9F9;
  text-align: left;
  padding: 10px;
  margin: 10px;
  top: -12px;
}

.menu-card__td-title{
  color: #FAD02C;
}

.menu-cards__img{
  width: 40%;
  margin-left: 15px;
}
.menu-card__tr {
  font-size: 18px;
}

.menu-card__hr{
  border-bottom: 5px dotted #F9F9F9;;
  position: absolute;
  margin-left: 3px;
  bottom: 19px;
  width: 90%;
}

.menu-card__link-cont{
  background-color: rgba(128, 128, 128, 0.651);
  position: absolute;
  border-radius: 50%;
  bottom: 22px;
  right: 20px;
}

.menu-card__link ion-icon{
  background-color: rgba(128, 128, 128, 0.918);
  border-radius: 50%;
  padding: 13px;
  height: 50px;
  width: 50px;
}

@media (min-width: 768px){
  .menu-card__container{
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    margin: 0;
  }
}
