.menu-card__container{
  flex-direction: column;
  position: relative;
  align-items: center;
  display: flex;
  padding: 15px;
}

.menu-card__table {
  background-color: #010101;
  border-collapse: collapse;
  position: relative;
  overflow: scroll;
  font-size: 18px;
  height: 350px;
  width: 370px;
}

.menu-card__tr{
  flex-direction: column;
  display: flex;
}

.menu-card__td {
  color: #F9F9F9;
  text-align: left;
  padding: 10px;
  margin: 10px;
  top: -12px;
}

.menu-card__td-title{
  color: #FAD02C;
}

.menu-card__tr {
  font-size: 18px;
}

.menu-card__hr{
  border-bottom: 5px dotted #F9F9F9;;
  position: absolute;
  margin-left: 15px;
  bottom: 12px;
  width: 90%;
}

.menu-card__link-cont{
  background-color: rgba(128, 128, 128, 0.651);
  position: absolute;
  border-radius: 50%;
  bottom: 12px;
  right: 12px;
}

.menu-card__link ion-icon{
  background-color: rgba(128, 128, 128, 0.918);
  border-radius: 50%;
  padding: 13px;
  height: 50px;
  width: 50px;
}

@media (min-width: 768px){
  .menu-card__container{
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    margin: 0;
  }
}
