.image-carousel__container{
  background-color: black;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
  display: flex;
  width: 100%;
}

.image-carousel__images img{
  height: 100%;
  width: 100%;
}

.image-carousel__btn{
  background-color: black;
  height: 240px;
  width: 20;
}

.image-carousel__btn ion-icon{
  background-color: black;
  font-size: 25px;
}

