.bookings__container{
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
}

.bookings__navigation-bar{
  width: 100%;
}

.bookings__bookings-form{
  justify-content: center;
  display: flex;
  margin: 25px;
  width: 95%;
}

.bookings__footer{
  width: 100%;
}

@media(min-width: 768px){
  .bookings__subcontainer{
    align-items: flex-end;
    display: flex;
  }
}
