.login-icon__container {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.login-icon__btn {
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-weight: 900;
  font-size: 22px;
  display: flex;
  height: 50px;
  width: 100%;
  margin: 2px;
}

.login-icon__btn-left {
  background-color: #ede8e48a;
  border: 4px solid #FAD02C;
  color: #FAD02C;
}

.login-icon__btn-left:hover {
  background-color: #fad12c98;
  border: 4px solid #EDE8E4;
  color: #EDE8E4;
}

.login-icon__btn-right {
  background-color: #fad12c98;
  border: 4px solid #EDE8E4;
  color: #EDE8E4;
  ;
}

.login-icon__btn-right:hover {
  background-color: #ede8e48a;
  border: 4px solid #FAD02C;
  color: #FAD02C;
}

@media(min-width: 768px) {
  .login-icon__container {
    flex-direction: row;
  }

  .login-icon__btn {
    font-size: 25px;
  } 
}
