.opening-ours__container {
  border: solid 5px #FAD02C;
  font-family: 'Kalam', cursive;
  border-radius: 45px;
  text-align: center;
  line-height: 40px;
  color: #FAD02C;
  max-width: 450px;
  font-size: 28px;
  padding: 15px;
}