.image-container__container{
  grid-template-columns: auto auto;
  display: grid;
  width: 100vw;
}

@media (min-width: 940px) {
  .image-container__container{
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    margin: 0;
  }
}
