.profile__container {
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.TDbgjBSn8azAnZu1vz_vjAHaEK&pid=Api&P=0&h=180");
  font-family: 'Kalam', cursive;
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  min-height: 100vh;
  display: flex;
  width: 100%;
}

.profile__nav {
  background-color: #676767cf;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  display: flex;
  z-index: 1000;
  height: 60px;
  width: 100%;
  left: 0;
  top: 0;
}

.profile__link {
  border: 1px solid #FAD02C;
  text-decoration: none;
  text-align: center;
  color: #FAD02C;
  width: 90px;
}

.profile__btn-logout {
  background-color: transparent;
  border: none;
}

.profile__btn-logout ion-icon {
  background-color: transparent;
  color: #FAD02C;
  width: 30px;
}

.profile__btn-logout ion-icon:hover {
  color: red;
}

.profile__title {
  border: 1px solid #FAD02C;
  color: #FAD02C;
  margin-top: 90px;
  font-size: 22px;
  padding: 3px;
}

.profile__sub-container {
  padding: 10px;
}

.profile__cont-profile {
  border: 5px solid #FAD02C;
  transform: rotate(3deg);
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin-top: 20px;
  overflow: hidden;
  margin: 0 auto;
  height: 200px;
  display: flex;
  padding: 5px;
  width: 90%;
}

.profile__img {
  object-position: center center;
  object-fit: contain;
  position: relative;
  margin: 0 auto;
  display: block;
  height: 100%;
  width: 100%;
}

.profile__nail {
  background-color: #8a7009;
  position: absolute;
  border-radius: 4px;
  height: 10px;
  width: 10px;
}

.profile__top-left {
  left: 5px;
  top: 5px;
}

.profile__top-right {
  right: 5px;
  top: 5px;
}

.profile__bottom-left {
  bottom: 5px;
  left: 5px;
}

.profile__bottom-right {
  bottom: 5px;
  right: 5px;
}

.profile__sub-title {
  color: #FAD02C;
}

.profile__cont-info {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 20px;
  display: flex;
  width: 100%;
  padding: 0;
}

.profile__item {
  list-style: none;
  margin-top: 20px;
  margin: 10px;
  width: 90%;
}

@media(min-width: 768px) {
  .profile__sub-container {
    display: flex;
    padding: 20px;
  }

  .profile__cont-profile {
    margin-top: 40px;
  }

  .profile__cont-info {
    border-top: 20px solid transparent;
    overflow: auto;
    height: 500px;
    width: 600px;
  }

  .profile__sub-title {
    margin-left: 25px;
    font-size: 25px;
  }

  .profile__cont-info::-webkit-scrollbar {
    background-color: #b69515;
    width: 10px;
  }

  .profile__cont-info::-webkit-scrollbar-thumb {
    background-color: #8a7009;
  }
}
