.create-login__container{
  background-color: #67676783;
  max-width: 500px;
  margin-top: 80px;
}

.create-login__title{
  text-align: center;
  color: #fad12c8b;
  font-size: 35px;
  padding: 12px;
}

.create-login__success-cont{
  line-height: 20px;
}

.create-login__success-message{
  text-align: center;
  color: #fad12c8b;
  font-size: 25px;
  padding: 12px;
}

.create-login__subcont{
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.create-login__input {
  color: rgba(255, 255, 255, 0.826);
  background-color: #67676700;
  border-top: 2px solid white;
  text-align: center;
  font-size: 22px;
  outline: none;
  height: 36px;
  width: 95%;
}

.create-login__btn{
  background-color: #fad12c8b;
  color: #F9F9F9;
  font-weight: 700;
  font-size: 22PX;
  height: 45px;
  width: 95%;
}

.create-login__btn:hover{
  background-color: #eacd59;
}

.create-login__error{
  color: rgba(255, 0, 0, 0.651);
  text-align: center;
  line-height: 18px;
  max-width: 350px;
  margin-top: 5px;
  font-size: 19px;
}
