.form-img__container {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.form__img-form {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 90%;
}

.form__img-text {
  color: rgba(255, 255, 255, 0.826);
  margin-bottom: 5px;
  text-align: center;
  margin-top: 15px;
  font-size: 27px;
}

.form__img-file {
  color: rgba(255, 255, 255, 0.826);
  background-color: #67676700;
  border-top: 2px solid white;
  padding-bottom: 35px;
  border-style: solid;
  position: relative;
  margin-left: 25px;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.form__img-file [type=file] {
  position: absolute;
  text-align: right;
  cursor: inherit;
  display: block;
  height: 35px;
  opacity: 0;
  right: 0;
  top: 0;
}

.form__img-btn {
  background-color: #fad12c8b;
  margin-bottom: 22px;
  margin-left: 25px;
  color: #F9F9F9;
  font-weight: 700;
  margin-top: 22px;
  font-size: 22PX;
  border: none;
  height: 45px;
  width: 100%;
}

.form__img-btn:hover {
  background-color: #eacd59;
}

.form__preview-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.form__img-img-preview {
  width: 300px;
}
