.shopping-cart__container {
  transition: transform 0.3s ease;
  background-color: #fad12c;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.shopping-cart__container:hover {
  transform: scale(1.2);
}

.shopping-cart__btn {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.shopping-cart__container ion-icon {
  background-color: transparent;
  border-radius: 50%;
  font-size: 60px;
  color: white;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
