.item-list__container {
  background-color: rgba(0, 0, 0, 0.589);
  display: inline-block;
  text-align: center;
  position: relative;
  line-height: 10px;
  width: 100%;
}

.item-list__highlight-text {
  color: #FAD02C;
  font-weight: 400;
}

.item-list__paragraph {
  padding: 10px;
  margin: 0;
}

.item-list__nail {
  background-color: #8a7009;
  position: absolute;
  border-radius: 3px;
  height: 7px;
  width: 7px;
}

.item-list__top-left {
  left: 4px;
  top: 4px;
}

.item-list__top-right {
  right: 4px;
  top: 4px;
}

.item-list__bottom-left {
  bottom: 4px;
  left: 4px;
}

.item-list__bottom-right {
  bottom: 4px;
  right: 4px;
}
