.menu-page__container{
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.7djOI16KGt2zgc0hwGnWjQHaHa&pid=Api&P=0");
  font-family: 'Kalam', cursive;
  background-size: cover;
  width: 100%;
}

.menu-page__nav{
  margin-bottom: 25px;
}

.menu-page__menu-card{
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin: 30px;
  padding: 0;
}

.menu-page__footer{
  margin-top: 25px;
}
