.menu-page__container {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.7djOI16KGt2zgc0hwGnWjQHaHa&pid=Api&P=0");
  font-family: 'Kalam', cursive;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.menu-page__nav {
  margin-bottom: 25px;
}

.menu-page__sub-cont {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 100px;
  display: flex;
}

.menu-page__btn-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.menu-page__btn-list {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 90%;
  padding: 0;
}

.menu-page__btn-option {
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
  height: 40px;
  margin: 7px;
  width: 100%;
}

.menu-page__btn {
  background-color: #fad12c8b;
  text-transform: capitalize;
  color: #F9F9F9;
  font-weight: 700;
  font-size: 22PX;
  height: 100%;
  border: none;
  width: 100%;
}

.menu-page__btn:hover {
  background-color: #eacd59;
}

.menu-page__btn:focus {
  background-color: #eacd59;
}

.menu-page__title {
  text-align: center;
  margin-top: 10px;
  color: #FAD02C;
  font-size: 55px;
  display: block;
}

.menu-page__title-none {
  display: none;
}

.menu-page__title-height {
  margin-bottom: 120px;
}

.menu-page__products {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
}

.menu-page__li {
  transition: transform 0.7s ease;
  display: flex;
  margin: 30px;
}

.menu-page__li:hover {
  transform: scale(1.05);
}

.menu-page__link-cont {
  background-color: rgba(128, 128, 128, 0.651);
  border-radius: 50%;
  margin-top: 20px;
}

.menu-page__link ion-icon {
  background-color: rgba(128, 128, 128, 0.918);
  border-radius: 50%;
  padding: 13px;
  height: 50px;
  width: 50px;
}

.menu-page__footer {
  top: 25px;
}

@media(min-width: 768px) {
  .menu-page__btn-container {
    flex-direction: row;
    width: 100%;
  }

  .menu-page__btn-list {
    flex-direction: row;
  }

  .menu-page__btn-option {
    margin: 10px;
  }
}

@media(min-width: 800px) {
  .menu-page__products {
    justify-content: flex-start;
  }
}
