.menu-page__container{
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.7djOI16KGt2zgc0hwGnWjQHaHa&pid=Api&P=0");
  font-family: 'Kalam', cursive;
  background-size: cover;

  width: 100%;
}
